
.spyproject
venv
.idea

__pycache__



# ignore tex output
report/ml-exam-report.aux
report/ml-exam-report.bbl
report/ml-exam-report.blg
report/ml-exam-report.fdb_latexmk
report/ml-exam-report.fls
report/ml-exam-report.log
report/ml-exam-report.out
report/ml-exam-report.pdf
report/ml-exam-report.synctex.gz

output/score_prep_without_outliers.csv
output/train_v2_prep_without_outliers.csv